{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Fdr-Cloturer{% endblock %}
{% block fos_user_content %}
{% block body -%}
<div  class="page-header"> <span class="info">Bonjour</span></div>
<div class="row-fluid">
Nous vous informons que le feuille de route (code= ) et qui est affectée à l'affrêtement(code=)
a bien été cloturée
<br/> et elle est en attente de confirmation de votre part,
Veuillez accuser la réception des documents
</div>

{% endblock %}{% endblock fos_user_content %}