<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Erreur :  {{ status_text }}</title>
    </head>
    <body>
        <h1>Oops! Erreur !! </h1>
        <h2>Le serveur Vous renvoit une erreur ayant code "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Vous aviez une erreur quelque part dans votre derniére requête
        </div>
    </body>
</html>
