{% extends '::base.html.twig' %}

{% block body -%}
    <div ng-controller="dossierController">
    <ul>
        <li>
            <a  href="#editDossier" ng-click="new()">
                Create a new entry
            </a>
        </li>
    </ul>
    <div ng-view></div>
        <div id="new"></div>
    </div>
{% endblock %}
        {% block javascripts %}
            <script type="text/ng-template" id="listDossier">
                <h1>Dossier list</h1>

                <table  class="records_list">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Enabled</th>
                        <th>Size</th>
                        <th>Icone</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat = "dossier in dossiers">
                        <td>[[ dossier.nom ]]</td>
                        <td>[[ dossier.description ]]</td>
                        <td>[[ dossier.created.timestamp ]]</td>
                        <td>[[ dossier.updated.timestamp]]</td>
                        <td>[[ dossier.enabled ]]</td>
                        <td>[[ dossier.size ]]</td>
                        <td>[[ dossier.icone ]]</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="#showDossier" ng-click="show([[ dossier.id ]])">show</a>
                                </li>
                                <li>
                                    <a href="#editDossier" ng-click="edit([[ dossier.id ]])">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </script>

            <script type="text/ng-template" id="editDossier">
                <h1 id="edit">Dossier edit</h1>
                <a href="#listDossier">List</a>
            </script>
            <script type="text/ng-template" id="newDossier">
                <div id="newz"></div>
                <a href="#listDossier">List</a>
            </script>
            <script type="text/ng-template" id="showDossier">
                <h1>Dossier Show</h1>
                <table class="record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>[[ currentDossier.id ]]</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>[[ currentDossier.nom ]]</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>[[ currentDossier.description ]]</td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>[[ currentDossier.created.timestamp ]]</td>
                    </tr>
                    <tr>
                        <th>Updated</th>
                        <td>[[ currentDossier.updated.timestamp]]</td>
                    </tr>
                    <tr>
                        <th>Enabled</th>
                        <td>[[ currentDossier.enabled ]]</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>[[ currentDossier.size ]]</td>
                    </tr>
                    <tr>
                        <th>Icone</th>
                        <td>[[ currentDossier.icone ]]</td>
                    </tr>
                    </tbody>
                </table>
                <a href="#listDossier">List</a>
            </script>
            <script src = "{{ asset('ajs/js/partials/Dossier/dossierController.js') }}"></script>
            <script src = "{{ asset('ajs/js/partials/Dossier/dossierService.js') }}"></script>
            <script src = "{{ asset('ajs/js/partials/Dossier/dossierFactory.js') }}"></script>
            <script src = "{{ asset('ajs/js/partials/Dossier/dossierRootProvider.js') }}"></script>

        {% endblock %}

